@import "variables";

@font-face {
  font-family: 'Attentica 4F';
  src: url('/fonts/attentica4f.ttf');
}

@font-face {
  font-family: 'Georgia';
  src: url('/fonts/georgia.ttf');
}

@font-face {
  font-family: 'SFUI Text';
  src: url('/fonts/sf-ui-text.ttf');
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url('/fonts/PF Din Text.ttf');
}

body {

}


.header {
  font-family: @header-font;
  box-shadow: 0 77px 90px rgba(119, 142, 162, 0.2);

  &-container {
    width: 1642px;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
    font-size: @header-font-size;
    height: 73px;
  }

  &__search {
    display: flex;
    align-items: center;

    &-icon {
      margin-right: 21px;
    }

    &-input {
      border: none;
      height: 35px;
      color: @header-font-color;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: @header-font-color;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: @header-font-color;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: @header-font-color;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: @header-font-color;
      }
    }

    &-input:hover {
      transition: .2s ease;
      cursor: text;
    }
  }

  &__profile {
    color: @header-font-color;
    display: flex;
    align-items: center;

    &-icon {
      margin-left: 19px;
    }
  }

  &__profile:hover {
    color: #c1321a;
    transition: .2s ease;
    cursor: pointer;
  }
}

.main-menu {
  height: 152px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
     color: @header-font-color;
     font-size: @header-font-size;
   }

  &__item:hover {
    color: #c1321a;
    transition: .3s ease;
    cursor: pointer;
  }
}

.course {
  display: flex;
  justify-content: space-around;
  margin-top: 143px;
}

.course-apply {
  background: url("/img/01.svg") no-repeat top right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__caption {
    color: @text-caption-color;
    font-family: @second-font;
    font-size: 170px;
    font-weight: bold;
    line-height: 170px;
    text-transform: uppercase;
    text-align: right;
  }

  &__btn {
    width: 450px;
    height: 93px;
    background-color: @details-color;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 70px;
    font-family: @second-font;
  }
}

.course__detail {

}

.course-tags {

  &__item {
    text-decoration: none;
    text-transform: uppercase;
    color: #00104f;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    font-family: @tag-font;
    padding-right: 14px;
    letter-spacing: 3px;

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      color: #ee042c;
      cursor: pointer;
    }
  }
}

.course-description {


  &__title {
    color: @text-caption-color;
    font-family: @second-font;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 49px;
    letter-spacing: 14px;
  }

  &__inner {
    width: 510px;
    color: @main-font-color;
    margin-top: 24px;
    font-family: @main-font;
    font-size: 20px;
    font-weight: 400;
  }

  &__more {
    display: inline-block;
    margin-top: 31px;
    font-size: 30px;
    text-transform: uppercase;
    color: @details-color;
    font-family: @second-font;
    line-height: 20px;
    letter-spacing: 7px;
  }

  &_border {
    border-left: 1px solid @opacity-color;
  }
}

.info {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid @opacity-color;
  border-bottom: 1px solid @opacity-color;
  padding: 40px;
  margin-top: 70px;


  &__services {
    list-style-type: decimal-leading-zero;
    counter-reset: item;
    border-right: 1px solid @opacity-color;
    padding-right: 62px;
  }

  &__services-item {
    position: relative;
    display: block;
    font-family: @second-font;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: @main-font-color;
    padding-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "0" counter(item) "  ";
      counter-increment: item;
      font-size: 36px;
      color: transparent;
      vertical-align: middle;
    }

    &_active {
      color: @text-caption-color;
      font-size: 48px;
      font-weight: bold;
      padding-bottom: 21px;

      &::before {
        color: @details-color;
      }

      &:after {
        content: '';
        position: absolute;
        top: -2px;
        left: 33px;
        width: 1px;
        height: 50px;
        background: @details-color;
      }
    }
  }
}

.contacts {
  font-family: @second-font;
  border-right: 1px solid @opacity-color;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-right: 10%;
  font-weight: bold;

  &__title {
    font-size: 36px;
    font-weight: 300;
    color: @text-caption-color;
  }

  &__link {
    display: block;
    text-align: left;
    font-size: 32px;
    text-decoration: none;
    color: @details-color;
    font-weight: bold;
  }
}

.subscribe {
  font-family: @second-font;

  &__item {
    font-size: 36px;
    font-weight: 300;
    color: @text-caption-color;
    letter-spacing: 11px;
    margin-bottom: 18px;

    &-get {
      font-family: @second-font;
      font-size: 32px;
      color: @main-font-color;
      letter-spacing: 10px;
      margin-bottom: 12px;
    }
  }

  &__form {
    display: flex;
    margin-bottom: 14px;
  }

  &__form-input {
    display: flex;
    width: calc(100% - 41px);
    height: 36px;
    text-transform: uppercase;
    color: @main-font-color;
    border: 1px solid @opacity-color;
  }

  &__form-btn {
    font-family: @second-font;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background: @text-caption-color;
    letter-spacing: 6px;
    padding-left: 11px;
  }

  &__offer {
    font-family: @main-font;
    color: @main-font-color;
    font-size: 12px;
    font-weight: 400;
  }
}

.catalog {
  margin-left: 79px;
}
.subject {
  font-family: @second-font;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
  color: @text-caption-color;
  margin: 1%;
  position: relative;

  &:first-child {
    content: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -23px;
    width: 1px;
    height: 24px;
    background: @opacity-color;
  }

  &-list {
    font-family: @second-font;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;
    color: @main-font-color;
    line-height: 100px;
    margin: .5%;

    &:hover {
      color: @details-color;
    }
  }
}

.course {

  &_indent {
    margin-top: 60px;
    padding-bottom: 56px;
    border-bottom: 1px solid @opacity-color;
  }

  &-application {
    font-family: @second-font;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 7px;
    color: @details-color;
  }

  &__structure {
    display: block;
    border-left: 1px solid @opacity-color;
    padding-left: 220px;
  }

  &__structure-inner {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 48px;
      right: 10px;
      width: 100%;
      height: 46px;
      background-color: #fafafa;
      opacity: 1;
      z-index: -2;
    }
  }

  &__quantity {
    font-family: @second-font;
    color: @text-caption-color;
    font-size: 100px;
    margin-right: 18px;

  }

  &__item {
    font-size: 36px;
    font-family: @second-font;
    color: @main-font-color;
    letter-spacing: 11px;
    line-height: 106px;
  }
}

.course {

  &__detail_border {
    border-left: 1px solid @opacity-color;
    padding-left: 70px;
  }

  &_second {
    margin-bottom: 105px;
  }

  &-apply_second {
    background: url(/img/02.svg) no-repeat top left;
  }

  &-apply__caption_second {
    font-size: 140px;
    text-align: left;
    line-height: 140px;
    margin-bottom: 50px;
  }

  &-description_second {
    padding-bottom: 150px;
    border-left: 1px solid @opacity-color;
    padding-left: 70px;
  }
}