@font-face {
  font-family: 'Attentica 4F';
  src: url('./fonts/attentica4f.ttf');
}
@font-face {
  font-family: 'Georgia';
  src: url('./fonts/georgia.ttf');
}
@font-face {
  font-family: 'SFUI Text';
  src: url('./fonts/sf-ui-text.ttf');
}
@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url('./fonts/PF Din Text.ttf');
}
.header {
  font-family: 'SFUI Text', sans-serif;
  box-shadow: 0 77px 90px rgba(119, 142, 162, 0.2);
}
.header-container {
  width: 1642px;
  margin: 0 auto;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
  font-size: 20px;
  height: 73px;
}
.header__search {
  display: flex;
  align-items: center;
}
.header__search-icon {
  margin-right: 21px;
}
.header__search-input {
  border: none;
  height: 35px;
  color: #474545;
}
.header__search-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #474545;
}
.header__search-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #474545;
}
.header__search-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #474545;
}
.header__search-input:-moz-placeholder {
  /* Firefox 18- */
  color: #474545;
}
.header:hover {
  transition: 0.2s ease;
  cursor: text;
}
.header__logo_mobile {
  display: none;
}
.header__profile {
  color: #474545;
  display: flex;
  align-items: center;
}
.header__profile-icon {
  margin-left: 19px;
}
.header__profile:hover {
  color: #c1321a;
  transition: 0.2s ease;
  cursor: pointer;
}
.header__menu-mobile {
  display: none;
  justify-content: space-around;
  margin: 45px 20px 0;
}
.header__menu-mobile-item {
  font-family: 'SFUI Text', sans-serif;
  font-size: 20px;
  color: #ffffff;
}
.header__menu-mobile-fixed {
  display: none;
}
.main-menu {
  height: 152px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-menu__item {
  color: #474545;
  font-size: 20px;
}
.main-menu__item:hover {
  color: #c1321a;
  transition: 0.3s ease;
  cursor: pointer;
}
.main-menu_mobile {
  display: none;
}
.course {
  display: flex;
  justify-content: space-around;
  margin-top: 143px;
}
.course-apply {
  background: url("/img/01.svg") no-repeat top right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.course-apply__caption {
  color: #4829c9;
  font-family: 'Attentica 4F', sans-serif;
  font-size: 170px;
  font-weight: bold;
  line-height: 170px;
  text-transform: uppercase;
  text-align: right;
}
.course-apply__btn {
  width: 450px;
  height: 93px;
  background-color: #f80953;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Attentica 4F', sans-serif;
}
.course-tags__item {
  text-decoration: none;
  text-transform: uppercase;
  color: #00104f;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  font-family: 'PF Din Text Comp Pro', sans-serif;
  padding-right: 14px;
  letter-spacing: 3px;
}
.course-tags__item:last-child {
  padding-right: 0;
}
.course-tags__item:hover {
  color: #ee042c;
  cursor: pointer;
}
.course-description__title {
  color: #4829c9;
  font-family: 'Attentica 4F', sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 49px;
  letter-spacing: 14px;
}
.course-description__inner {
  width: 510px;
  color: #323738;
  margin-top: 24px;
  font-family: 'Georgia', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.course-description__more {
  display: inline-block;
  margin-top: 31px;
  font-size: 30px;
  text-transform: uppercase;
  color: #f80953;
  font-family: 'Attentica 4F', sans-serif;
  line-height: 20px;
  letter-spacing: 7px;
}
.course-description_border {
  border-left: 1px solid #e6e6e6;
}
.course__time-hours {
  width: 469px;
  height: 467px;
}
.info {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 40px;
  margin-top: 70px;
}
.info__services {
  list-style-type: decimal-leading-zero;
  counter-reset: item;
  border-right: 1px solid #e6e6e6;
  padding-right: 62px;
}
.info__services-item {
  position: relative;
  display: block;
  font-family: 'Attentica 4F', sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #323738;
  padding-bottom: 14px;
}
.info__services-item:last-child {
  margin-bottom: 0;
}
.info__services-item::before {
  content: "0" counter(item) "  ";
  counter-increment: item;
  font-size: 36px;
  color: transparent;
  vertical-align: middle;
}
.info__services-item_active {
  color: #4829c9;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 21px;
}
.info__services-item_active::before {
  color: #f80953;
}
.info__services-item_active:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 33px;
  width: 1px;
  height: 50px;
  background: #f80953;
}
.contacts {
  font-family: 'Attentica 4F', sans-serif;
  border-right: 1px solid #e6e6e6;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: bold;
  padding-right: 67px;
}
.contacts__title {
  font-size: 36px;
  font-weight: 300;
  color: #4829c9;
}
.contacts__link {
  display: block;
  text-align: left;
  font-size: 32px;
  text-decoration: none;
  color: #f80953;
  font-weight: bold;
}
.subscribe {
  font-family: 'Attentica 4F', sans-serif;
}
.subscribe__item {
  font-size: 36px;
  font-weight: 300;
  color: #4829c9;
  letter-spacing: 11px;
  margin-bottom: 18px;
}
.subscribe__item-get {
  font-family: 'Attentica 4F', sans-serif;
  font-size: 32px;
  color: #323738;
  letter-spacing: 10px;
  margin-bottom: 12px;
}
.subscribe__form {
  display: flex;
  margin-bottom: 14px;
}
.subscribe__form-input {
  display: flex;
  width: calc(100% - 41px);
  height: 36px;
  text-transform: uppercase;
  color: #323738;
  border: 1px solid #e6e6e6;
}
.subscribe__form-btn {
  font-family: 'Attentica 4F', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: #4829c9;
  letter-spacing: 6px;
  padding-left: 11px;
}
.subscribe__offer {
  font-family: 'Georgia', sans-serif;
  color: #323738;
  font-size: 12px;
  font-weight: 400;
}
.catalog {
  margin-left: 79px;
}
.subject {
  font-family: 'Attentica 4F', sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
  color: #4829c9;
  margin-right: 16px;
  position: relative;
}
.subject::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -11px;
  width: 1px;
  height: 24px;
  background: #e6e6e6;
}
.subject:first-child::before {
  content: none;
}
.subject-list {
  font-family: 'Attentica 4F', sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #323738;
  line-height: 100px;
  margin-right: 14px;
}
.subject-list:last-child {
  margin-right: 0;
}
.subject-list:hover {
  color: #f80953;
}
.course_indent {
  margin-top: 60px;
  padding-bottom: 56px;
  border-bottom: 1px solid #e6e6e6;
}
.course-application {
  font-family: 'Attentica 4F', sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 7px;
  color: #f80953;
}
.course__structure {
  display: block;
  border-left: 1px solid #e6e6e6;
  padding-left: 220px;
}
.course__structure-inner {
  position: relative;
}
.course__structure-inner::before {
  content: '';
  position: absolute;
  top: 48px;
  right: 10px;
  width: 100%;
  height: 46px;
  background-color: #fafafa;
  opacity: 1;
  z-index: -1;
}
.course__quantity {
  font-family: 'Attentica 4F', sans-serif;
  color: #4829c9;
  font-size: 100px;
  margin-right: 18px;
}
.course__item {
  font-size: 36px;
  font-family: 'Attentica 4F', sans-serif;
  color: #323738;
  letter-spacing: 11px;
  line-height: 106px;
}
.course__detail_border {
  border-left: 1px solid #e6e6e6;
  padding-left: 70px;
}
.course_second {
  margin-bottom: 105px;
}
.course__time_mobile {
  display: none;
}
.course-apply_second {
  background: url(/img/02.svg) no-repeat top left;
}
.course-apply__caption_second {
  font-size: 140px;
  text-align: left;
  line-height: 140px;
  margin-bottom: 50px;
}
.course-description_second {
  padding-bottom: 150px;
  border-left: 1px solid #e6e6e6;
  padding-left: 70px;
}
@media (max-width: 1660px) {
  .header-container {
    width: 1250px;
  }
  .header__top {
    margin: 30px auto;
  }
  .header__search {
    font-size: 18px;
  }
  .header__profile {
    font-size: 18px;
  }
  .main-menu {
    height: 130px;
  }
  .main-menu__item {
    font-size: 16px;
  }
  .course {
    margin-top: 100px;
  }
  .course-apply {
    background: url("/img/01.svg") no-repeat top right;
    background-size: 80%;
  }
  .course-apply__caption {
    font-size: 120px;
    line-height: 120px;
  }
  .course-apply__btn {
    width: 300px;
    height: 70px;
    font-size: 50px;
  }
  .course-tags__item {
    font-size: 15px;
    line-height: 8px;
    padding-right: 12px;
    letter-spacing: 1px;
    flex-wrap: nowrap;
  }
  .contacts {
    border: none;
    order: 2;
  }
  .subscribe {
    order: 2;
  }
  .subject-list {
    line-height: 50px;
  }
  .course-description__title {
    font-size: 40px;
    margin-top: 35px;
    letter-spacing: 10px;
  }
  .course-description__inner {
    width: 400px;
    margin-top: 18px;
    font-size: 18px;
  }
  .course-description_border {
    border-left: none;
  }
  .course__time-hours {
    width: 350px;
    height: 320px;
  }
  .course__detail_border {
    border: none;
  }
  .course__structure {
    border: none;
    padding-left: 0;
  }
  .course__quantity {
    font-size: 70px;
  }
  .info {
    border: none;
  }
  .info__services {
    border: none;
    padding: 0;
  }
  .info__services-item {
    font-size: 26px;
    letter-spacing: 3px;
    padding-bottom: 0;
  }
  .info__services-item_active {
    color: #4829c9;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 12px;
  }
  .info__services-item_active::before {
    color: #f80953;
  }
  .info__services-item_active:after {
    left: 28px;
    height: 40px;
  }
  .contacts {
    border-right: none;
    letter-spacing: 6px;
    padding-right: 0;
  }
  .contacts__title {
    font-size: 26px;
    margin-bottom: 8px;
  }
  .contacts__link {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .subscribe__item {
    font-size: 26px;
    letter-spacing: 6px;
    margin-bottom: 10px;
  }
  .subscribe__item-get {
    font-size: 24px;
    letter-spacing: 6px;
    margin-bottom: 10px;
  }
  .subscribe__form {
    margin-bottom: 10px;
  }
  .subscribe__form-input {
    width: 260px;
    height: 26px;
  }
  .subscribe__form-btn {
    font-family: 'Attentica 4F', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background: #4829c9;
    letter-spacing: 6px;
    padding-left: 11px;
  }
  .subscribe__offer {
    font-size: 10px;
    width: 300px;
  }
  .subject {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
  }
  .subject::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -23px;
    width: 1px;
    height: 24px;
    background: #e6e6e6;
  }
  .subject-list {
    font-family: 'Attentica 4F', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #323738;
    line-height: 100px;
  }
  .course_indent {
    margin-top: 40px;
    padding-bottom: 50px;
  }
  .course-application {
    font-size: 18px;
    letter-spacing: 5px;
  }
  .course__structure {
    border-left: none;
    padding-left: 0;
  }
  .course__structure-inner {
    position: relative;
  }
  .course__structure-inner::before {
    content: '';
    position: absolute;
    top: 32px;
    right: -72px;
    width: 350px;
    height: 30px;
    background-color: #fafafa;
    opacity: 1;
    z-index: -1;
  }
  .course__quantity {
    font-size: 70px;
    margin-right: 15px;
  }
  .course__item {
    font-size: 26px;
    font-family: 'Attentica 4F', sans-serif;
    color: #323738;
    letter-spacing: 6px;
    line-height: 80px;
  }
  .course__detail_border {
    border-left: none;
    padding-left: 0;
  }
  .course_second {
    margin-bottom: 40px;
  }
  .course-apply_second {
    background: url(/img/02.svg) no-repeat top left;
    background-size: 70%;
  }
  .course-apply__caption_second {
    font-size: 120px;
    text-align: left;
    line-height: 120px;
    margin-bottom: 15px;
  }
  .course-description_second {
    padding-bottom: 0;
    border-left: none;
    padding-left: 0;
  }
}
@media (max-width: 1280px) {
  .header-container {
    width: 950px;
  }
  .header__top {
    margin: 30px auto;
  }
  .header__search {
    font-size: 15px;
  }
  .header__profile {
    font-size: 14px;
  }
  .main-menu {
    height: 110px;
  }
  .main-menu__item {
    font-size: 12px;
  }
  .course {
    margin-top: 70px;
  }
  .course-apply {
    background: url("/img/01.svg") no-repeat top right;
    background-size: 60%;
  }
  .course-apply__caption {
    font-size: 90px;
    line-height: 90px;
  }
  .course-apply__btn {
    width: 200px;
    height: 60px;
    font-size: 40px;
  }
  .course-tags__item {
    font-size: 12px;
    line-height: 6px;
    padding-right: 10px;
    letter-spacing: 1px;
    flex-wrap: nowrap;
  }
  .contacts {
    border: none;
    order: 2;
  }
  .subscribe {
    order: 2;
  }
  .subject-list {
    line-height: 40px;
  }
  .course-description__title {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 8px;
  }
  .course-description__inner {
    width: 350px;
    margin-top: 18px;
    font-size: 14px;
  }
  .course-description_border {
    border-left: none;
  }
  .course-description__more {
    font-size: 20px;
    margin-top: 10px;
  }
  .course__time-hours {
    width: 280px;
    height: 260px;
  }
  .course__detail_border {
    border: none;
  }
  .course__structure {
    border: none;
    padding-left: 0;
  }
  .course__quantity {
    font-size: 40px;
  }
  .info {
    border: none;
  }
  .info__services {
    border: none;
    padding: 0;
  }
  .info__services-item {
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 0;
  }
  .info__services-item_active {
    font-size: 25px;
    padding-bottom: 6px;
  }
  .info__services-item_active::before {
    color: #f80953;
  }
  .info__services-item_active:after {
    left: 24px;
    height: 35px;
  }
  .contacts {
    border-right: none;
    letter-spacing: 6px;
    padding-right: 0;
  }
  .contacts__title {
    font-size: 20px;
    margin-bottom: 6px;
  }
  .contacts__link {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .subscribe__item {
    font-size: 18px;
    letter-spacing: 4px;
    margin-bottom: 8px;
  }
  .subscribe__item-get {
    font-size: 20px;
    letter-spacing: 4px;
    margin-bottom: 8px;
  }
  .subscribe__form {
    margin-bottom: 8px;
  }
  .subscribe__form-input {
    width: 180px;
    height: 22px;
  }
  .subscribe__form-btn {
    font-size: 14px;
    letter-spacing: 4px;
  }
  .subscribe__offer {
    font-size: 10px;
    width: 240px;
  }
  .catalog {
    margin-left: 30px;
  }
  .subject {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 5px;
  }
  .subject::before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 1px;
    height: 14px;
    background: #e6e6e6;
  }
  .subject-list {
    font-size: 14px;
    letter-spacing: 2px;
    margin-right: 5px;
  }
  .course_indent {
    margin-top: 40px;
    padding-bottom: 40px;
  }
  .course-application {
    font-size: 18px;
    letter-spacing: 5px;
  }
  .course__structure {
    border-left: none;
    padding-left: 0;
  }
  .course__structure-inner {
    position: relative;
  }
  .course__structure-inner::before {
    content: '';
    position: absolute;
    top: 20px;
    right: -72px;
    width: 280px;
    height: 27px;
    background-color: #fafafa;
    opacity: 1;
    z-index: -1;
  }
  .course__quantity {
    font-size: 50px;
    margin-right: 8px;
  }
  .course__item {
    font-size: 22px;
    letter-spacing: 4px;
    line-height: 70px;
  }
  .course__detail_border {
    border-left: none;
    padding-left: 0;
  }
  .course_second {
    margin-bottom: 50px;
  }
  .course-apply_second {
    background: url(/img/02.svg) no-repeat top left;
    background-size: 60%;
  }
  .course-apply__caption_second {
    font-size: 90px;
    text-align: left;
    line-height: 90px;
    margin-bottom: 10px;
  }
  .course-description_second {
    padding-bottom: 0;
    border-left: none;
    padding-left: 0;
  }
  .course__time_laptop {
    display: none;
  }
  .course__time_mobile {
    display: flex;
  }
}
@media (max-width: 480px) {
  .header {
    height: 300px;
    background-color: #c1321a;
  }
  .header-container {
    width: 100%;
  }
  .header__top {
    margin: 0 20px;
    padding-top: 50px;
    padding-bottom: 37px;
    height: auto;
    display: flex;
    justify-content: center;
    background-size: cover;
    position: relative;
    border-bottom: 1px solid #ffffff;
  }
  .header__top::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -23px;
    width: 1px;
    height: 24px;
    background: #ffffff;
  }
  .header__search {
    display: none;
    font-size: 9px;
  }
  .header__logo_laptop {
    display: none;
  }
  .header__logo_mobile {
    display: block;
  }
  .header__profile {
    display: none;
    font-size: 9px;
  }
  .header__search-input {
    background: #c1321a;
  }
  .header__search-icon {
    display: none;
  }
  .header__profile-icon {
    display: none;
  }
  .header__menu-mobile {
    display: flex;
  }
  .main-menu {
    display: none;
  }
  .course {
    display: block;
    margin-top: 20px;
    padding: 0 20px;
  }
  .course-apply {
    display: block;
    margin: 0 auto;
    background: none;
  }
  .course-apply__caption {
    font-size: 70px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 20px;
  }
  .course-apply__caption br {
    display: none;
  }
  .course-apply__btn {
    display: block;
    width: 100%;
    height: 60px;
    margin: 0 auto 20px;
    font-size: 35px;
  }
  .course-tags__item {
    text-decoration: none;
    text-transform: uppercase;
    color: #00104f;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    font-family: 'PF Din Text Comp Pro', sans-serif;
    padding-right: 10px;
    letter-spacing: 2px;
  }
  .course-tags__item:last-child {
    padding-right: 0;
  }
  .course-tags__item:hover {
    color: #ee042c;
    cursor: pointer;
  }
  .course-tags br {
    display: none;
  }
  .course-description__title {
    color: #4829c9;
    font-family: 'Attentica 4F', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    letter-spacing: 10px;
  }
  .course-description__inner {
    width: 100%;
    color: #323738;
    margin-top: 24px;
    font-family: 'Georgia', sans-serif;
    font-size: 20px;
    font-weight: 400;
  }
  .course-description__more {
    display: inline-block;
    margin-top: 31px;
    font-size: 30px;
    text-transform: uppercase;
    color: #f80953;
    font-family: 'Attentica 4F', sans-serif;
    line-height: 20px;
    letter-spacing: 7px;
  }
  .course-description_border {
    border-left: 1px solid #e6e6e6;
  }
  .course__time {
    text-align: center;
  }
  .course__time-hours {
    width: 200px;
    height: 180px;
    text-align: center;
    margin-top: 30px;
  }
  .info {
    display: block;
    border: none;
    padding: 40px;
    margin-top: 20px;
  }
  .info__services {
    list-style-type: decimal-leading-zero;
    counter-reset: item;
    border-right: none;
    padding-right: 62px;
  }
  .info__services-item {
    position: relative;
    display: block;
    font-family: 'Attentica 4F', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #323738;
    padding-bottom: 14px;
  }
  .info__services-item:last-child {
    margin-bottom: 0;
  }
  .info__services-item::before {
    content: "0" counter(item) "  ";
    counter-increment: item;
    font-size: 36px;
    color: transparent;
    vertical-align: middle;
  }
  .info__services-item_active {
    color: #4829c9;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 21px;
  }
  .info__services-item_active::before {
    color: #f80953;
  }
  .info__services-item_active:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 33px;
    width: 1px;
    height: 50px;
    background: #f80953;
  }
  .contacts {
    text-align: center;
    padding-right: 0;
    margin-top: 20px;
  }
  .contacts__title {
    font-size: 36px;
    font-weight: 300;
  }
  .contacts__link {
    text-align: center;
    font-size: 32px;
  }
  .subscribe {
    margin-top: 40px;
    font-family: 'Attentica 4F', sans-serif;
  }
  .subscribe__item {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    color: #4829c9;
    letter-spacing: 11px;
    margin-bottom: 0;
  }
  .subscribe__item-get {
    text-align: center;
    font-family: 'Attentica 4F', sans-serif;
    font-size: 32px;
    color: #323738;
    letter-spacing: 10px;
    margin-bottom: 0;
  }
  .subscribe__form {
    display: flex;
    margin-bottom: 14px;
    margin-top: 10px;
  }
  .subscribe__form-input {
    display: flex;
    justify-content: center;
    width: calc(100% - 41px);
    height: 36px;
    text-transform: uppercase;
    color: #323738;
    border: 1px solid #e6e6e6;
  }
  .subscribe__form-btn {
    font-family: 'Attentica 4F', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background: #4829c9;
    letter-spacing: 6px;
    padding-left: 11px;
  }
  .subscribe__offer {
    font-size: 12px;
    font-weight: 400;
    width: 100%;
  }
  .catalog {
    text-align: center;
  }
  .subject {
    font-family: 'Attentica 4F', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 7px;
    color: #4829c9;
    margin-right: 20px;
    position: relative;
  }
  .subject::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -11px;
    width: 1px;
    height: 24px;
    background: #e6e6e6;
  }
  .subject:first-child::before {
    content: none;
  }
  .subject-list {
    font-family: 'Attentica 4F', sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #323738;
    line-height: 100px;
    margin-right: 14px;
  }
  .subject-list:last-child {
    margin-right: 0;
  }
  .subject-list:hover {
    color: #f80953;
  }
  .course_indent {
    margin-top: 60px;
    padding-bottom: 56px;
    border-bottom: none;
  }
  .course-application {
    font-family: 'Attentica 4F', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 7px;
    color: #f80953;
  }
  .course__structure {
    display: block;
    border-left: none;
    padding-left: 0;
    margin-top: 20px;
  }
  .course__structure-inner {
    position: relative;
  }
  .course__structure-inner::before {
    content: '';
    position: absolute;
    top: 48px;
    right: 10px;
    width: 100%;
    height: 46px;
    background-color: #fafafa;
    opacity: 1;
    z-index: -1;
  }
  .course__quantity {
    font-family: 'Attentica 4F', sans-serif;
    color: #4829c9;
    font-size: 50px;
    margin-right: 4px;
  }
  .course__item {
    font-size: 25px;
    font-family: 'Attentica 4F', sans-serif;
    color: #323738;
    letter-spacing: 5px;
    line-height: 0;
  }
}
.burger-menu {
  width: 55px;
  height: 35px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.burger-menu span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.burger-menu span:nth-child(1) {
  top: 0;
}
.burger-menu span:nth-child(2) {
  top: 15px;
}
.burger-menu span:nth-child(3) {
  top: 30px;
}
.burger-menu_open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}
.burger-menu_open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.burger-menu_open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}
