@header-font: 'SFUI Text', sans-serif;
@tag-font: 'PF Din Text Comp Pro', sans-serif;
@second-font: 'Attentica 4F', sans-serif;
@main-font: 'Georgia', sans-serif;

@header-font-size: 20px;

@header-font-color: #474545;
@text-caption-color: #4829c9;
@details-color: #f80953;
@main-font-color: #323738;

